* {
  background-color: #333;
  color: #fff;
  font-size: 24px;
}
#main {
  margin-left: 200px;
  display: none;
  margin-top: 100px;
  position: absolute;
  padding: 5px;
  border-left: 1px solid #667;
  border-right: 1px solid #667;
}
.que {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  width: fit-content;
  margin-bottom: 20px;
}

.question_no {
  font-weight: bold;
  padding-right: 10px;
}
.score {
  font-size: xx-large;
  font-family: monospace;
  position: fixed;
  top: 10px;
  z-index: 3;
  right: 10px;
  text-align: center;
}
.question_main {
  grid-column-start: 2;
  grid-column-end: 7;
}
.answer {
  display: none;
}
.option {
  cursor: pointer;
  margin: 0;
  height: 50px;
  text-align: CENTER;
  align-content: center;
  padding-top: 25px;
  border-radius: 15px;
  border: 5px solid #333;
}

.option1 {
  grid-column-start: 2;
}
.option5 {
  grid-column-end: 7;
}
hr {
  border: none;
  border-top: 3px double #333;
  color: #333;
  overflow: visible;
  height: 5px;
  margin-right: 350px;
}
.black {
  background: red;
}
.marked {
  background-color: rgba(88, 83, 83, 0.493);
}
.submit {
  position: fixed;
  bottom: 5px;
  right: 30px;
}
.restart {
  position: fixed;
  bottom: 5px;
  left: 30px;
}
#timer {
  border: 1px solid #667;
  font-size: 60px;
}
.btn {
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  background-color: #4299e1;
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 16px;
  border-bottom: 4px solid #2b6cb0;
  font-weight: 700;
  color: white;
  line-height: 26px;
}
.answer_right_submit {
  background-color: yellow;
  color: #333;
}

#score_text {
  display: none;
}
.start {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#banner {
  position: fixed;
  height: max-content;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100vw;
  display: grid;
  grid-template-columns: 891px auto;
  border-bottom: 1px solid #667;
}
#banner_text {
  margin: 0;
  text-align: left;
}
#use_comp {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
